<!DOCTYPE html>
<html lang="en">

<head>
<title>Buddy</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">

<style>
html {
  scroll-behavior: smooth;
}

.footer-copyright {
	background-color:  #8c8b8c;
}

body {
    background: -webkit-linear-gradient( #ffe6f7, #b3e6ff);
    background: -o-linear-gradient( #ffe6f7, #b3e6ff);
    background: -moz-linear-gradient( #ffe6f7, #b3e6ff);
    background: linear-gradient( #ffe6f7, #b3e6ff);
    background-color:  #ffe6f7;
}
.container {
  width: 500px;
  clear: both;
}

.container input {
  width: 100%;
  clear: both;
}

.textPadding {
	padding-left: 2cm;
	padding-right: 2cm;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pacifico {
	font-family: 'Pacifico', cursive;
	text-shadow: 4px 4px 4px #aaa;
}
</style>
</head>

<body>
    <nav id="theNavBar" class="navbar fixed-top navbar-light bg-light">
      <a class="navbar-brand pacifico" href="#"><img src = "https://www.nicepng.com/png/full/402-4023276_communication-friendship-face-help-transparent-background-friend-clipart.png" height = 20px/>Buddy</a>
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link pacifico" href="#About">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link pacifico" href="#SignUp">Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link pacifico" href="#SignIn">Sign In</a>
        </li>
      </ul>

    </nav>
    <div class = "pacifico" style="text-align:center">
        <br/>
        <br/>
        <br/>

        <h1 style = "font-size: 80px"><img src = "https://www.nicepng.com/png/full/402-4023276_communication-friendship-face-help-transparent-background-friend-clipart.png" height = 80px/>Buddy</h1>
        <br/>
    </div>

    <img src = "https://scontent.fyyc6-1.fna.fbcdn.net/v/t1.15752-9/86306759_123543972391107_8579525820362522624_n.png?_nc_cat=101&_nc_ohc=iXt0gZbccRIAX_Q8GY9&_nc_ht=scontent.fyyc6-1.fna&oh=fbc051074fca9776d88b2355ddb04e0d&oe=5EBC1810" class = "center" height = 600/>
    <br>
    <div data-spy="scroll" data-target="#theNavBar" data-offset="0">

    <div class = "textPadding">

        <div class = "pacifico">
            <img src = "https://i.ya-webdesign.com/images/horizontal-clipart-transparent-background.png" class = "center"/>

            <h2 id="About">
                <br/>
                <br/>
                What is Buddy?
            </h2>
            <br/>
            <br/>

            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-5">
                        <p>
                            Buddy is an Amazon Alexa™ application that is free to use with the purpose
                            of reducing anxiety and depressive feelings in young adults in a non-threatening, effortless environment. Any user that feels lonely, depressed, helpless, or hopeless can open Buddy and be instantly connected to a volunteer. Users list their interests when they first sign up, and are matched with the first available volunteer who has the most interests in common. The well-being of the user is measured before and after speaking with a volunteer, in addition to a general rating of the conversation. The matching algorithm takes this into account when choosing available volunteers. Users are able to connect with volunteers, who can also be in the same city and can lead to long lasting friendships
                        </p>
                    </div>
                    <div class="col-md-7">
                        <img src = "https://scontent.fyyc6-1.fna.fbcdn.net/v/t1.15752-9/86488958_211030429943330_4454418712778244096_n.png?_nc_cat=105&_nc_ohc=3IFZ6W9ZcVEAX-X7Nmv&_nc_ht=scontent.fyyc6-1.fna&oh=cabceb113a9288762edd06142a53d11a&oe=5EB6CC1A" class = "img-thumbnail"/>
                    </div>
                </div>
            </div>

            <img src = "https://i.ya-webdesign.com/images/horizontal-clipart-transparent-background.png" class = "center"/>
            <br/>

            <div class = "pacifico center" style="text-align:center">
            <h2 id = "SignUp"> <br><br>Sign Up</h2>
            </div>

            <br>
            <img src = "https://scontent.fyyc6-1.fna.fbcdn.net/v/t1.15752-9/86391614_878221545942570_2407218926187446272_n.png?_nc_cat=101&_nc_ohc=jZTZ9fefi4cAX-d3bVG&_nc_ht=scontent.fyyc6-1.fna&oh=72f79b99541fc9b37ad65acd3bb913bd&oe=5ECE0F05" class = "center" /><br>
            <div class = "container">
            <div style="text-align:center">
            <br/>
            <br/>
            <h4>Sign up to be a volunteer here!</h4>
            <br>
                <a href="/volunteer/signup/" class = 'btn btn-primary' style = 'width: 150px;' type = 'submit'>Sign Up</a>
                </div>
            </div>

            <img src = "https://i.ya-webdesign.com/images/horizontal-clipart-transparent-background.png" class = "center"/>
            <div class="container">
            <form action="/volunteer/login/" method="post">
                {% csrf_token %}
            <div class = "pacifico">

            <h2 id = "SignIn" > <br><br>Sign In</h2>
                <br/>
            </div>
            <label for="Email">Email: </label>
            <input type="email" class="form-control" name="Email" id ="Email" required placeholder="Email"><br>
            <label for="Password">Password: </label>
            <input type="password" class="form-control" name="password" id="Password" required placeholder="Password"><br>
            <div style="text-align:center">
            <button class = 'btn btn-primary' style = 'width: 150px;' type = 'submit'>Login</button>
            </div>
            </form>
        </div>

        </div>
        <br/>
        <br/>
    </div>

    <footer class="page-footer font-small blue pt-4">
      <!-- Footer Links -->
      <div class="container-fluid text-center text-md-left bg-warning">
        <!-- Grid row -->
        <div class="row">
          <!-- Grid column -->
          <div class="col-md-6 mt-md-0 mt-3">
            <!-- Content -->
            <h5 class="text-uppercase"><br>418 I'm a Teapot</h5>
            <p>Evan Krul, Layla Arab, Nicholas Cervania, Richard Lee, and Shamez Meghji</p>
          </div>
          <!-- Grid column -->
          <hr class="clearfix w-100 d-md-none pb-3">
          <!-- Grid column -->
        </div><!-- Grid row -->
      </div>
      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">© 2020 Copyright:
        418 I'm a Teapot
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
</body>

</html>