packages:
  yum:
    mod24_ssl : []
    
files:
  /etc/httpd/conf.d/ssl.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      LoadModule wsgi_module modules/mod_wsgi.so
      WSGIPythonHome /opt/python/run/baselinenv
      WSGISocketPrefix run/wsgi
      WSGIRestrictEmbedded On
      Listen 443
      <VirtualHost *:443>
        SSLEngine on
        SSLCertificateFile "/etc/pki/tls/certs/server.crt"
        SSLCertificateKeyFile "/etc/pki/tls/certs/server.key"
        
        Alias /static/ /opt/python/current/app/static/
        <Directory /opt/python/current/app/static>
        Order allow,deny
        Allow from all
        </Directory>
        
        WSGIScriptAlias / /opt/python/current/app/Django/wsgi.py
        
        <Directory /opt/python/current/app>
        Require all granted
        </Directory>
        
        WSGIDaemonProcess wsgi-ssl processes=1 threads=15 display-name=%{GROUP} \
          python-path=/opt/python/current/app \
          python-home=/opt/python/run/venv \
          home=/opt/python/current/app \
          user=wsgi \
          group=wsgi
        WSGIProcessGroup wsgi-ssl
        
      </VirtualHost>
      
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIFgTCCBGmgAwIBAgISA4Jc1fS0jt604gj2hXzXTbB5MA0GCSqGSIb3DQEBCwUA
      MEoxCzAJBgNVBAYTAlVTMRYwFAYDVQQKEw1MZXQncyBFbmNyeXB0MSMwIQYDVQQD
      ExpMZXQncyBFbmNyeXB0IEF1dGhvcml0eSBYMzAeFw0yMDAyMTYwMjQ5MTlaFw0y
      MDA1MTYwMjQ5MTlaMC8xLTArBgNVBAMTJGJ1ZGR5LnVzLXdlc3QtMi5lbGFzdGlj
      YmVhbnN0YWxrLmNvbTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBANq8
      aR9ulXvLZu5URXAD5oGuIm5nhpRk2ZF+DYeAe2eYF3MaEgoOVmaU2iKWHtxVFzwj
      JIan7EtXbQ1tsx/LvYOk2pdxTOVMKCndKejSV2DxRrlFa1rDD0/dwZvGYtOoZa4e
      Pca+mMWQeOc7ycw71jtX55qpXGydGUKg1Aeixtz0TwUrRnwuoq+gPaF/pBgwDOrk
      ikDbXre5RjnN7aL1ZD8oa1JgFVuWAdjwfqI8VL9eZQtgvHEHZ9GgSOTnuKsj2ihZ
      IZJ0jXkHED1XpbZYCk0x0oQDg1J82j83J8IJhXggH5AnpLmN1PHaN/dxPEX8AvQP
      7CtpB5l83Y1fUF2igscCAwEAAaOCAnowggJ2MA4GA1UdDwEB/wQEAwIFoDAdBgNV
      HSUEFjAUBggrBgEFBQcDAQYIKwYBBQUHAwIwDAYDVR0TAQH/BAIwADAdBgNVHQ4E
      FgQUdJ7yyLVlN5tVFJmBuPAcwG78quswHwYDVR0jBBgwFoAUqEpqYwR93brm0Tm3
      pkVl7/Oo7KEwbwYIKwYBBQUHAQEEYzBhMC4GCCsGAQUFBzABhiJodHRwOi8vb2Nz
      cC5pbnQteDMubGV0c2VuY3J5cHQub3JnMC8GCCsGAQUFBzAChiNodHRwOi8vY2Vy
      dC5pbnQteDMubGV0c2VuY3J5cHQub3JnLzAvBgNVHREEKDAmgiRidWRkeS51cy13
      ZXN0LTIuZWxhc3RpY2JlYW5zdGFsay5jb20wTAYDVR0gBEUwQzAIBgZngQwBAgEw
      NwYLKwYBBAGC3xMBAQEwKDAmBggrBgEFBQcCARYaaHR0cDovL2Nwcy5sZXRzZW5j
      cnlwdC5vcmcwggEFBgorBgEEAdZ5AgQCBIH2BIHzAPEAdwAHt1wb5X1o//Gwxh0j
      Fce65ld8V5S3au68YToaadOiHAAAAXBMHWT+AAAEAwBIMEYCIQCi2qmisoo29IpU
      Hpw/yA+ccpCYnP1El8splBiGosO8DgIhAKqAel619YQRiwlaZkxu5/mKuJZE7SSG
      BawSMksmf4giAHYAb1N2rDHwMRnYmQCkURX/dxUcEdkCwQApBo2yCJo32RMAAAFw
      TB1lfQAABAMARzBFAiEA6EYpn+F+Ng0cR4d4ZaUiNF2bxZnFPL//RwXl8x4qSi0C
      ICGZp6CAZIq8pvuMHwEVqzgZG1EcQpeUGhO2qJmeX+yKMA0GCSqGSIb3DQEBCwUA
      A4IBAQBFJEgIHdMsFYpbJ/Mz7jUkEbRJaul14xc/3Wuau1V+yN3SPYRULRhZOxFj
      6W5I5nnpE7qWwS5snqauJRCi6tG9vZr3qKy/JkRlXrpGGm+O5Z3NiSBKtknd9q4G
      tyRv/8cKwuGnlO1z7xHjjH7bVi4+5F91xKo6ZO6Xj7TLkWZ/OCrON31WRvcdz2tz
      mMAZ0AiyrN4H1USgvGu7y4CuoxmUky7X5seZqTM9WaufXUsljZXIFu8KRjQliMsf
      q9SFiBZLDDZXGMezI2oVviXbAHOfCo5ch7TmFqZEiSUIT+cmAtLVxXc1paWX0/Hv
      v9kaqdbUq3CHnvO8kyW9Yu0thitM
      -----END CERTIFICATE-----
      -----BEGIN CERTIFICATE-----
      MIIEkjCCA3qgAwIBAgIQCgFBQgAAAVOFc2oLheynCDANBgkqhkiG9w0BAQsFADA/
      MSQwIgYDVQQKExtEaWdpdGFsIFNpZ25hdHVyZSBUcnVzdCBDby4xFzAVBgNVBAMT
      DkRTVCBSb290IENBIFgzMB4XDTE2MDMxNzE2NDA0NloXDTIxMDMxNzE2NDA0Nlow
      SjELMAkGA1UEBhMCVVMxFjAUBgNVBAoTDUxldCdzIEVuY3J5cHQxIzAhBgNVBAMT
      GkxldCdzIEVuY3J5cHQgQXV0aG9yaXR5IFgzMIIBIjANBgkqhkiG9w0BAQEFAAOC
      AQ8AMIIBCgKCAQEAnNMM8FrlLke3cl03g7NoYzDq1zUmGSXhvb418XCSL7e4S0EF
      q6meNQhY7LEqxGiHC6PjdeTm86dicbp5gWAf15Gan/PQeGdxyGkOlZHP/uaZ6WA8
      SMx+yk13EiSdRxta67nsHjcAHJyse6cF6s5K671B5TaYucv9bTyWaN8jKkKQDIZ0
      Z8h/pZq4UmEUEz9l6YKHy9v6Dlb2honzhT+Xhq+w3Brvaw2VFn3EK6BlspkENnWA
      a6xK8xuQSXgvopZPKiAlKQTGdMDQMc2PMTiVFrqoM7hD8bEfwzB/onkxEz0tNvjj
      /PIzark5McWvxI0NHWQWM6r6hCm21AvA2H3DkwIDAQABo4IBfTCCAXkwEgYDVR0T
      AQH/BAgwBgEB/wIBADAOBgNVHQ8BAf8EBAMCAYYwfwYIKwYBBQUHAQEEczBxMDIG
      CCsGAQUFBzABhiZodHRwOi8vaXNyZy50cnVzdGlkLm9jc3AuaWRlbnRydXN0LmNv
      bTA7BggrBgEFBQcwAoYvaHR0cDovL2FwcHMuaWRlbnRydXN0LmNvbS9yb290cy9k
      c3Ryb290Y2F4My5wN2MwHwYDVR0jBBgwFoAUxKexpHsscfrb4UuQdf/EFWCFiRAw
      VAYDVR0gBE0wSzAIBgZngQwBAgEwPwYLKwYBBAGC3xMBAQEwMDAuBggrBgEFBQcC
      ARYiaHR0cDovL2Nwcy5yb290LXgxLmxldHNlbmNyeXB0Lm9yZzA8BgNVHR8ENTAz
      MDGgL6AthitodHRwOi8vY3JsLmlkZW50cnVzdC5jb20vRFNUUk9PVENBWDNDUkwu
      Y3JsMB0GA1UdDgQWBBSoSmpjBH3duubRObemRWXv86jsoTANBgkqhkiG9w0BAQsF
      AAOCAQEA3TPXEfNjWDjdGBX7CVW+dla5cEilaUcne8IkCJLxWh9KEik3JHRRHGJo
      uM2VcGfl96S8TihRzZvoroed6ti6WqEBmtzw3Wodatg+VyOeph4EYpr/1wXKtx8/
      wApIvJSwtmVi4MFU5aMqrSDE6ea73Mj2tcMyo5jMd6jmeWUHK8so/joWUoHOUgwu
      X4Po1QYz+3dszkDqMp4fklxBwXRsW10KXzPMTZ+sOPAveyxindmjkW8lGy+QsRlG
      PfZ+G6Z6h7mjem0Y+iWlkYcV4PIWL1iwBi8saCbGS5jN2p8M+X+Q7UNKEkROb3N6
      KOqkqm57TH2H3eDJAkSnh6/DNFu0Qg==
      -----END CERTIFICATE-----
       
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQDavGkfbpV7y2bu
      VEVwA+aBriJuZ4aUZNmRfg2HgHtnmBdzGhIKDlZmlNoilh7cVRc8IySGp+xLV20N
      bbMfy72DpNqXcUzlTCgp3Sno0ldg8Ua5RWtaww9P3cGbxmLTqGWuHj3GvpjFkHjn
      O8nMO9Y7V+eaqVxsnRlCoNQHosbc9E8FK0Z8LqKvoD2hf6QYMAzq5IpA2163uUY5
      ze2i9WQ/KGtSYBVblgHY8H6iPFS/XmULYLxxB2fRoEjk57irI9ooWSGSdI15BxA9
      V6W2WApNMdKEA4NSfNo/NyfCCYV4IB+QJ6S5jdTx2jf3cTxF/AL0D+wraQeZfN2N
      X1BdooLHAgMBAAECggEAXmyFKMdxCj61EV8ZlpBoekS0olpYc0jRzwfOSVdCbmbu
      gIaZkPO9gozxWYraiZzF6fT1uJdW3vM/pVNcxvYJuoF4x3Vmj3l/wQqzI8lhZPzi
      3enEvSqFOqHtCRTr5pjERBTT8C6o/mgueQuLQnn2MinxVgeUWWK729JXlXBETm7v
      nGGBA7x/HDj1j/NrzKw8TZz89BnjpXFo0ScCOOxaBQSonGhAL025XW+BjuMqdRXG
      uYMOCAZ4CXHh99Rdy/yjowrT0mpKNe/dcZpnF+zt5Ng5B/y8p1XqASgkF6J/kkDi
      kOU4BAyVBOYbsRgI+wIQUHELW3lzDrkFuGN2Y0RQcQKBgQD/10qzcILQeKaeGiBe
      gh0kPHwjOqSGlAR3XgURObEpaP3gOEqyrT9pvqKY//KKGS2Kz0geXSv5f4lkYd51
      VQltWuMFy0Rz2GE+I0EkpGTDQLF3VBbYGzO4HlPSCUVwngX79NOjnP0iZhRChLNh
      iD1iaeMziMYyforo7JnYNeAhGQKBgQDa3zcBTZ+UWb1xAnjtboxfEXsMAq/GYfh9
      pj6ONkMgWz2vWdDKRE4Zrim/PsyNik8vkk5jwdougAo/aOjDWMJ3AzUFiK173lLi
      h8LL3VluZSbNHCC2N/owOdNDDAluAMy8tvTEMUpn1/syWEteQZqCp+7Y5g9+rbBk
      ldRm5ILe3wKBgDeF8slUnp89v/NJ+kJofIiTs+E1ZeVrFDkPp4vgeGljRs21iciT
      PtLlM4Z+7ZU496BLcfxc/iEso5Wsg8n1BZG9Cs4EGjwF9ry0i/u2zcNuM9WQ41BN
      PwEzW7+WkYJqWSQgMxosBOfFPZpeEEwXdDL6hft2MIVe3yjDyHOa5aRpAoGBAIyB
      r3YOttstoQfjZm5GAacmOa/EKcNZMYS4LIBvJTioWjkvl3HB18F0pSg40Ggs2hjX
      +6rez4n6eJmsZ4DAglaUoH0k+PoEB4GVVeA6ASd1mCskW3ufA+XhuVXZbFRJ/yVG
      7mrkmbeAV6pCNGAWDXLDC/oB9wCD0DFCXlCPcdRRAoGBANMu90EtbDFaOUQflsj7
      7giBnl50CYa2LvzmBVYw39SC+zf+EektitTgWJs1OIug/QxjgZyDxq3cyFUiydr7
      nZLpTU3K5guSSJBp8oSsCTkZi86kn4ZV+ju2FRyU6C1afUNiJAFPEbZ2wEo+OYS1
      0ZOcJrGSRgKqcPf2ChZb4WNN
      -----END RSA PRIVATE KEY-----
      
container_commands:
  01killhttpd:
    command: "killall httpd"
  02waitforhttpddeath:
    command: "sleep 3"